<!DOCTYPE html>
<html lang="en">
<head>
  <title>Shoppit</title>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application", :media => "all" %>
</head>
<body>
  <div class="wrap">
    <%= render 'layouts/header' %>

    <% if notice || alert %>
      <div class="flash">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <section class="app container">
      <% if user_signed_in? %>
        Welcome <%= current_user.email %>!
      <% end %>

      <%= yield %>
    </section>

    <div class="push"></div>
  </div>
  
  <%= render 'layouts/footer' %>

</body>
</html>
