<!DOCTYPE html>
<html lang="en">
<head>
  <title>Shoppit</title>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application", :media => "all" %>
</head>
<body>
  <div class="wrap">
    <%= render 'layouts/header' %>

    <% if notice || alert %>
      <div class="flash container">
        <% if notice %>
          <p class="notice"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert"><%= alert %></p>
        <% end %>
      </div>
    <% end %>

    <section class="app container">
      <%= yield %>
    </section>

    <div class="push"></div>
  </div>
  
  <%= render 'layouts/footer' %>

</body>
</html>
